<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
        <server>
            <id>myGitcryptKey</id>
            <!-- Base64 encoded sample gitcrypt key -->
            <!-- This key is not used anywhere except in these integration tests -->
            <password>
                AEdJVENSWVBUS0VZAAAAAgAAAAAAAAADAAAAIKc2zrjn65hBWmDl8kNT9zGvZP65PU0KzkWSL0A3hORAAAAABQAAAEBs+e2z6iiUjSzpLklqd5dHeU1GEGJVuaZ4BrSNgQMzQ/apmK+R2edZuuZPkwkXdbqhMp4Btevfq3Nesv83bW9DAAAAAQAAAAQAAAAAAAAAAA==
            </password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>it-repo</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>local.central</id>
                    <url>@localRepositoryUrl@</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>local.central</id>
                    <url>@localRepositoryUrl@</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
</settings>
